body {
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Cardo";
  src: url("../fonts/Cardo-Regular.woff2"),
  url('../fonts/Cardo-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal
}